html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* verhindert horizontale Scrollleisten */
}

.player_wrapper {
  width: 100%;
  max-width: 100dvw;
  max-height: 100dvh;
  box-sizing: border-box;
  padding: 1rem;
}

.player {
  display: block;
  width: 100%;
  max-height: 85dvh;
  height: auto;
  aspect-ratio: 16 / 9;
}

h1 {
  font-size: var(--heading1);
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  color: var(--background-color);
  text-align: center;
  margin: 10px 0;
}
