/* ===== ZENTRALE CSS VARIABLEN ===== */
/* Diese Datei wird in allen anderen CSS-Dateien importiert */

:root {
  /* ===== NAVBAR VARIABLEN ===== */
  /* Base */
  --nav-bg-1: #142b3f;
  --nav-bg-2: #3f3f27; /* Farbe mit besserem Kontrast zu Text */
  --nav-border: #142b3f;

  /* Neon */
  --neon: #2de2ff;
  --glow: rgba(45, 226, 255, 0.35);

  /* Focus */
  --focus: #2de2ff;

  /* ===== MAKINGOF VARIABLEN ===== */
  --accent-color: #f3c813; /*tungsten*/
  --background-color: #222928;
  --text-color: #f8f9fa;
  --box-shadow: #b1bbbd; /* silver*/

  /* Heading Sizes */
  --heading1: 2.5rem;
  --heading2: 2rem;
  --heading3: 1.7rem;
  --heading4: 1.4rem;
  --text-size: 1rem;

  /* Border */
  --border-radius: 25px;
}
