.video-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0;
  display: block;
  margin: 0 auto; 
}

.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Lexend deca, sans-serif;
}